# Mass Shooting Analysis X: Searching for the Most Average State in Terms of Demographics, Mass Shootings and Gun Ownership

In [1]:
import json
import pandas as pd
import numpy as np
import random
from pathlib import Path
import math

In [2]:
ms1_sts = pd.read_csv('MSA Data\\us_states_demo_gun_vio_df.csv',index_col=0, encoding='utf-8') # Load pre-prepped data
scope = 'USA, 2014-24'

In [3]:
ms1_sts.head(3)

,state_us,population,area_sqkm,pop_density,ms_rate,no_ms_inc,total_inj,total_kld,total_inj_kill,wpi,...,Gun suicide rate,Suicide,prop_suic_w_gun,Homicide rate,Gun homicide rate,Homicide,prop_hom_w_gun,Gun deaths,gun_death_rate,gun_at_home
0,Alaska,733391,1723337,0.425564,1.227176,9,20,20,40,2.222222,...,19.4,142,0.646667,6.7,4.2,31,0.626866,182,24.816230,0.57
1,Alabama,5024279,135767,37.006629,3.502990,176,713,210,923,4.051136,...,12.4,623,0.756098,14.8,12.9,650,0.871622,1315,26.172910,0.53
2,Arkansas,3011524,137732,21.865100,2.324405,70,307,85,392,4.385714,...,12.9,391,0.632353,11.1,9.3,281,0.837838,698,23.177634,0.52

In [4]:
ranks = ms1_sts[['state_us','population', 'pop_density', 'ms_rate', 'gun_at_home']].copy()
len(ranks)

50

In [5]:
ranks['pop_rank'] = ranks['population'].rank()
ranks['den_rank'] = ranks['pop_density'].rank()
ranks['ms_rank'] = ranks['ms_rate'].rank()
ranks['guns_rank'] = ranks['gun_at_home'].rank()

In [6]:
ranks['rank_err'] = ((ranks['pop_rank'] - 25.5)**2 + (ranks['den_rank'] - 25.5)**2 + (ranks['ms_rank'] - 25.5)**2 + (ranks['guns_rank'] - 25.5)**2) / 4

In [7]:
tab = ranks.sort_values(by='rank_err', ascending=True).reset_index()

In [8]:
tab.head(3)

,index,state_us,population,pop_density,ms_rate,gun_at_home,pop_rank,den_rank,ms_rank,guns_rank,rank_err
0,23,Minnesota,5706494,25.343835,1.472007,0.39,29.0,20.0,25.0,22.0,13.7500
1,50,Wisconsin,5893718,34.743526,1.510082,0.47,31.0,25.0,26.0,33.5,23.6875
2,12,Iowa,3190369,21.889925,0.877641,0.39,20.0,17.0,15.0,22.0,56.2500

* **Congratulations Minnesota, You're Super Average!** - GVA has data for all shooting incidents, but as we saw earlier the csv export on the GVA website only contains 2,000 records, which across the whole of the US only covers around 3 weeks of data. In order to get an idea of the proportion of events that are not classed as mass shooting incidents by ANY of the data sources. Initially I took data from California & Illinois as the 2 states with the most MSIs, but wanted the least extreme example (ie hopefully the most typical). So I ranked each state on a number of relevant factors, then calculated an error based on the square distance from the median. In these particular measures it seems that Minnesota & Wisconsin are clearly the most average states.